@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&family=Combo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Combo&family=Smooch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Combo&family=Smooch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Combo&family=Edu+QLD+Beginner&family=Smooch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Cinzel&family=Combo&family=Edu+QLD+Beginner&family=Smooch&display=swap');


.containerabt{
    
    color: white;
    display: flex;


}
.aboutpic{
    display: flex;
    /* justify-content: center; */
    padding: 20px;
    padding-top: 30px; 
}
.aboutpic img{
    width: 300px;
    height: 300px;
    justify-content: center;
    margin: auto;
    display: block;
} 
.aboutinfo{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 60px;
    padding-top: 40px;
    width: 50%;
    color: gray;
    

}
.aboutinfo h2{
    /* font-family: 'Chakra Petch', sans-serif; */
    font-family: 'Edu QLD Beginner', cursive;
    font-size: 30px;
    

}
.aboutinfo p{
    /* font-family: 'Chakra Petch', sans-serif; */
    font-family: 'Edu QLD Beginner', cursive;
    font-size: 20px;

}
.aboutinfo:hover{
    color: white;
    font-size: 22px;
    transform: scale(1.2);
    transition: ease-in-out 0.5s;
    background: transparent;
}

.bottominfo{
    display: flex;
    text-align: center;
    padding: 15px;
    
}
.bottominfo1{
    width: 33%;
    /* margin-right: 10px; */
    border-right: double;
    border-left: double;
    display: block;
    font-family: 'Alegreya', serif;
    border-top: double;
    border-bottom: double;
    
}
.bottominfo2{
    width: 33%;
    border-right: double;
    border-top: double;
    border-bottom: double;
    margin-left: 10px;
    border-left: double;
}
.bottominfo3{
    width: 33%;
    border-right: double;
    border-top: double;
    border-bottom: double;
    border-left: double;
    margin-left: 10px;
}
.bottominfo h3{
    font-family: 'Cinzel', serif; 
    font-size: 22px;
    text-shadow: gray;
    padding: 10px;
    text-align: center; 
    

}
.bottominfo1 h5{
    text-align: left; 
    /* font-family: 'Cinzel', serif;  */
    padding: 20px;
    color: #0FFF50;
    font-family: 'Alegreya', serif;
    font-size: 15px;
    
}
.bottominfo1 p{
    color: white;
    text-align: left;

    font-family: 'Alegreya', serif;
}
.bi1{
    float: left;
    width: 30%;
}
.bi2{
    float: right;
    width: 35%;
}
.bi3{
    float: left;
    width: 35%;
}
.biheading{
    width: 100%;
}
.workexp{
    font-family: 'Alegreya', serif;
    text-align: left;
    padding: 10px;
}
.workexp h5{
    color: #FF3131;
    font-size: 18px;
}
.workexp p{
    color: white;
    font-size: 14px;
    margin-bottom: 8px;
    
}
.achievements{
    font-family: 'Alegreya', serif;
    text-align: left;
    padding: 10px;    
}
.achievements h5{
    color: #1589FF;
    font-size: 18px;
}
.achievements p{
    color: white;
    font-family: 'Alegreya', serif;
    font-size: 14px;
}

@media only screen and (max-width:730px) {
    .bottominfo{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .bottominfo1{
        border-left: double;
        padding: 10px;
        width: 70%;
    }
    .bottominfo2{
        border-right: double;
        border-left: double;
        padding: 10px;
        margin: 10px;
        width: 70%;
    }
    .bottominfo3{
        border-left: double;
        border-right: double;
        padding: 10px;
        width: 70%;
    }
    .aboutpic{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .aboutinfo{
        width: 300px;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    
}    
@media only screen and (max-width:450px){
    .bottominfo1{
        display: flex;
        flex-direction: column;


    }

    .bottominfo2{
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        border-top: double;
        border-bottom: double;


    }
    .bottominfo3{
        display: flex;
        flex-direction: column;
        margin-top: 50px;


    }
    .aboutpic{
        align-items: center;
        justify-content: center;
        
    }
    .bi1{
        width: 100%;
    }
    .bi2{
        width: 100%;
    }
    .bi3{
        width: 100%;
    }

    
}
@media (max-width:926px) {
    .bottominfo1{
        display: flex;
        flex-direction: column;
        padding: 10px;
        width: 70%;


    }

    .bottominfo2{
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        border-top: double;
        border-bottom: double;
        padding: 10px;
        width: 70%;


    }
    .bottominfo3{
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        padding: 10px;
        width: 70%;


    }
    .bottominfo{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .aboutinfo{
        padding-left: 0px;
    }
    .aboutinfo:hover{
        background: transparent;
    }
    .row{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.column {
    float: left;
    width: 24%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .certificate h6{
      font-size: 40px;
      font-family: 'Edu QLD Beginner', cursive;
      padding: 20px;
      padding-top: 70px;
      text-align: center;
  }
  