@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&family=Combo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Combo&family=Smooch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Combo&family=Smooch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Combo&family=Edu+QLD+Beginner&family=Smooch&display=swap');


.forreal img{
    width: 300px;
    height: 300px;

    /* display: block; */
 

}
.forreal{
    /* justify-content: center; */
    align-items: right;
    /* padding: 40px; */
    /* height: 20vw;  */
    align-items: right;
    justify-content: right;
    margin-left: 150px;
    
}
.connectbox{
    /* height: 20vw; */
    width: 100%;
    /* margin: auto; */
    display: flex;
    /* flex-direction: column;  */
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.connectbox button-57{
    margin: auto;
    display: block;
    align-items: center;
    justify-content: center;

}
.connectinfo{
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 12px; */
    font-size: 10px;
    /* width: 1080px;
    margin: auto;
    margin-right: auto; */
    
}
.connectcontainer{
    display: flex;
    flex-direction: column;
    

}


.connectboxpro{
    display: block;
    
    color: gray;
}
.connectboxpro h2{
    margin-top: 100px;
    color: white;
}
.connectboxpro i{
    color: red;
}
.connectboxsocial{
    display: block;
    
    color: gray;
    
    
}  
.connectboxsocial h2{
    margin-top: 100px;
    color: white ;
    
}
.connectboxsocial i{
    color: royalblue;
}
.linkedin{
    color: gray;
    font-weight: bold;
    /* font-size: 50px; */
    text-decoration: none;
    /* padding: 30px; */
    font-family: 'Chakra Petch', sans-serif;
}
.connectbox{
    display: flex;
    align-items: center;
    justify-content: center;
}
.connectinfo{
    display: flex;

}
.linkedin a:hover{
    color: #0077b5;
    transform: scale(1.5);
    transition: ease 0.5s;
    background: transparent;
}

.linkedin a{
    color: gray; 
    font-weight: bold;
    font-size: 50px;
    text-decoration: none;
    padding: 30px;
    
}
.instagram a:hover{
    color: #bc2a8d;
    transform: scale(1.5);
    transition: ease 0.5s;
    background: transparent;
     
}
.instagram a{
    color: gray; 
    font-weight: bold;
    font-size: 50px;
    text-decoration: none;
    padding: 30px;
    
}
.mail a:hover{
    color: #EA4335;
    transform: scale(1.5);
    transition: ease 0.5s;
    background: transparent;
}
.mail a{
    color: gray; 
    font-weight: bold;
    font-size: 50px;
    text-decoration: none;
    padding: 30px;   
}
.discord a:hover{
    color: #7289da;
    transform: scale(1.5);
    transition: ease 0.5s;
    background: transparent;
}
.discord a{
    color: gray; 
    font-weight: bold;
    font-size: 50px;
    text-decoration: none;
    padding: 30px; 
}
.git a:hover{
    color: #6e5494;
    transform: scale(1.5);
    transition: ease 0.5s;
    background: transparent;
}
.git a{
    color: gray; 
    font-weight: bold;
    font-size: 50px;
    text-decoration: none;
    padding: 30px; 
}

.snap a{
    color: gray; 
    font-weight: bold;
    font-size: 50px;
    text-decoration: none;
    padding: 30px;
    
}
.snap a:hover{
    color: #FFFC00;
    transform: scale(1.5);
    transition: ease 0.5s;
    background: transparent;

} 
@media only screen and (max-width:560px){
    .linkedin a{
        padding: 10px;
        
    }
    .instagram a{
        padding: 10px;
    }
    .mail a{
        padding: 10px;
    }
    .git a{
        padding: 10px;
    }
    .discord a{
        padding: 10px;
    }
    .snap a{
        padding: 10px;
    }
    .connectbox{
        justify-content: center;
        align-items: center;
        
    }
    .forreal img{
        width: 300px;
        height: 300px;
        align-items: center;
        
        /* margin-top: 100px; */
    }
    .forreal{
        margin-left: 1px;
    }
    .connectbox{
        display: flex;
        flex-direction: column;
    }
    .connectboxpsocial h2{
        margin-top: 15px;
    }
}