@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&family=Combo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Combo&family=Smooch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Combo&family=Smooch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Combo&family=Edu+QLD+Beginner&family=Smooch&display=swap');


.forreal img{
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;

}
.forreal{
    justify-content: center;
    align-items: center;
    /* padding: 40px; */
    margin-top: 100px;
    /* margin-left: 470px; */
    /* margin-top: 350px; */
    /* height: 20vw;  */
    
    
}
.connectbox{
    height: 20vw;
    width: 100%;
    margin: auto;
    display: block;
    justify-content: center;
    align-items: center;
}
.connectbox button-57{
    margin: auto;
    display: block;
    align-items: center;
    justify-content: center;

}
.connectinfo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
    font-size: 20px;
    /* width: 1080px;
    margin: auto;
    margin-right: auto; */
    

}
  
.linkedin{
    color: gray;
    font-weight: bold;
    font-size: 50px;
    text-decoration: none;
    padding: 10px;
    font-family: 'Chakra Petch', sans-serif;
}
.connectbox{
    display: flex;
    align-items: center;
    justify-content: center;
}
.connectinfo{
    display: flex;

}
.linkedin a:hover{
    color: #0077b5;
    transform: scale(1.5);
    transition: ease 0.5s;
    background: transparent;
}

.linkedin a{
    color: gray; 
    font-weight: bold;
    font-size: 50px;
    text-decoration: none;
    padding: 30px;
    
}
.instagram a:hover{
    color: #bc2a8d;
    transform: scale(1.5);
    transition: ease 0.5s;
    background: transparent;
}
.instagram a{
    color: gray; 
    font-weight: bold;
    font-size: 50px;
    text-decoration: none;
    padding: 30px;
    
}
.mail a:hover{
    color: #EA4335;
    transform: scale(1.5);
    transition: ease 0.5s;
    background: transparent;
}
.mail a{
    color: gray; 
    font-weight: bold;
    font-size: 50px;
    text-decoration: none;
    padding: 30px;   
}
.discord a:hover{
    color: #7289da;
    transform: scale(1.5);
    transition: ease 0.5s;
    background: transparent;
}
.discord a{
    color: gray; 
    font-weight: bold;
    font-size: 50px;
    text-decoration: none;
    padding: 30px; 
}
.git a:hover{
    color: #6e5494;
    transform: scale(1.5);
    transition: ease 0.5s;
    background: transparent;
}
.git a{
    color: gray; 
    font-weight: bold;
    font-size: 50px;
    text-decoration: none;
    padding: 30px; 
}


@media only screen and (max-width:560px){
    .linkedin a{
        padding: 8px;
        
    }
    .instagram a{
        padding: 8px;
    }
    .mail a{
        padding: 8px;
    }
    .git a{
        padding: 8px;
    }
    .discord a{
        padding: 8px;
    }
    .connectbox{
        justify-content: center;
        align-items: center;
        
    }
}